.shape-settings {
  position: fixed;

  left: 50%;
  bottom: 100px;

  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 20px;

  padding: 16px 20px;

  background: rgba(255,255,255,.75);
  backdrop-filter: blur(18px);

  border: 1px solid #ddd;
  border-radius: 14px;

  box-shadow: 0 8px 24px rgba(0,0,0,.12);

  z-index: 10;
}

/* Shape Menu */
.shape-menu {
  position: fixed;

  left: 50%;
  bottom: 100px;

  transform: translateX(-50%);

  width: 220px;
  height: 56px;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 12px;

  background: rgba(255,255,255,.75);
  backdrop-filter: blur(18px);

  border: 1px solid #ddd;
  border-radius: 14px;

  box-shadow: 0 8px 24px rgba(0,0,0,.12);
}

/* Bottom Toolbar */
.bottom-toolbar {
  position: fixed;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);

  width: 320px;
  height: 64px;

  display: flex;
  align-items: center;

  padding: 0 12px;

  background: rgba(255, 255, 255, 0.358);
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.object-panel {
  position: fixed;

  left: 24px;
  top: 50%;
  transform: translateY(-50%);

  width: 260px;
  max-height: calc(100vh - 80px);

  display: flex;
  flex-direction: column;
  gap: 18px;

  padding: 18px;

  overflow-y: auto;

  background: rgba(255,255,255,.75);
  backdrop-filter: blur(18px);

  border: 1px solid #ddd;
  border-radius: 18px;

  box-shadow: 0 10px 30px rgba(0,0,0,.12);
}

.panel-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panel-title {
  font-size: 13px;
  font-weight: 600;
  color: #666;
}

.action-button {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 12px;

  border: none;
  border-radius: 10px;

  background: transparent;
  cursor: pointer;

  transition: .2s;
}

.action-button:hover {
  background: rgba(0,0,0,.06);
}

.action-button.danger:hover {
  background: rgba(255,0,0,.12);
  color: #d00000;
}

.tool-button {
  flex: 1;
  /* every button gets the same width */
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: background-color 0.2s ease, color 0.2s ease;
}

.tool-button:hover {
  background-color: rgba(59, 59, 59, 0.215);
}